[Desktop Entry]
Comment[es_ES]=Scratchy - Catppuccin macchiato
Name=Scratchy
Name[es_ES]=Scratchy
X-KDE-PluginInfo-Author=jomada
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=plasma-desktop
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT License
X-KDE-PluginInfo-Name=Scratchy
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
comment=Scratchy theme - Catppuccin macchiato
